<div class='main'>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-lg-1 col-md-1">
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                                <span>Back</span>
                    </button>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-lg-10 col-md-10">
                <div class="prod-details">
                    <h2>Products Details</h2>
                    <img src="../assets/img/star-solid.svg" style="width: 300px;height: 300px;" />
                    <div class="json-data">
                        Json data goes here
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-lg-1 col-md-1">
                <a href="#" class="line_btn">
                    <img src="../assets/img/star-solid.svg" />
                </a>
                <div class="container-contact100-form-btn  bottom-btn">
                    <button class="contact100-form-btn">
                                    <span>Back</span>
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>