<div class='main'>
    <nav class="topnav">
        <ul>
            <li class="float-left"><a routerLink="/home">Home</a></li>
            <li class="float-left"><a routerLink="/products">Product List</a></li>
            <li class="float-right">
                <div class="search">
                    <form id='filter'>
                        <input type="text" name='term' [(ngModel)]="term" placeholder=" " />
                        <div>
                            <svg>
                                    <use xlink:href="#path" />
                                </svg>
                        </div>
                    </form>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
                                            <path d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717
                24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201
                L141.371843,76.386562 " transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
                                        </symbol>
                                    </svg>
            </li>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </ul>
    </nav>
    <div class="container" (load)="prodData(value)">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-2 col-md-2">
                <div class="container-contact100-form-btn leftAllign">
                    <a routerLink="/home" class="button contact100-form-btn">
                        <span>Back</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-9 col-md-9">
                <div class="prod-details">
                    <h2>Products Details </h2>
                    <h3>Name: {{dataProds.item}}</h3>
                    <img src={{dataProds.img_url}} style="width: 300px;height: 300px;" />
                    <div class="json-data">
                        <h3>Product JSON</h3>
                        <p>{{jsonData}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-1 col-md-1">
                <a href="#" class="line_btn">
                    <img src="../assets/img/star-solid.svg" />
                </a>
                <div class="container-contact100-form-btn  bottom-btn">
                    <a routerLink="/home" class="button contact100-form-btn">
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>