*,
::after,
::before {
    box-sizing: border-box;
}

.modalContainer {
    width: 33%;
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container,
.row {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.col-xs-12.col-sm-6.col-lg-4.col-md-4 {
    margin-bottom: 30px;
}

.single_recepie {
    padding: 15px 0px;
    margin: 0px 15px;
    background-color: #F7F7F7;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.text-center {
    text-align: center!important;
}

.recepie_area .single_recepie .recepie_thumb {
    max-width: 300px;
    max-height: 300px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.recepie_area .single_recepie .recepie_thumb img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.recepie_area .single_recepie h3 {
    color: #000;
    margin-top: 38px;
    margin-bottom: 20px;
    line-height: 1.2em;
}

.recepie_area .single_recepie span {
    font-size: 12px;
    color: #777;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.recepie_area .single_recepie p {
    font-size: 14px;
    color: #777;
    font-weight: 400;
    display: block;
    margin-bottom: 0;
    margin-bottom: 31px;
    font-family: roboto, sans-serif;
}

.line_btn {
    display: inline-block;
    font-size: 13px;
    color: #000;
    border: 1px solid #ffc000;
    text-transform: capitalize;
    padding: 13px 34px;
    font-weight: 500;
    font-family: roboto, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

a,
button {
    color: #1f1f1f;
    outline: medium;
}

a,
.button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


/*   Navigation Bar   */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    height: 50px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

li.float-left {
    float: left;
    height: 100%;
}

li.float-right {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}

.topnav li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a:hover {
    background-color: #ddd;
    color: black;
}

.topnav li a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav li .icon {
    display: none;
}


/*     Search Button   */

.search {
    display: table;
}

.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: 'Mukta Malar';
    transition: all .6s ease;
    cursor: pointer;
    color: #fff;
    height: 30px;
}

.search input+div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}

.search input+div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-dashoffset: 271.908;
    stroke-dasharray: 59 212.908;
    transition: all .6s ease;
}

.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.search input:not(:placeholder-shown)+div svg,
.search input:focus+div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

 ::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

 ::selection {
    background: rgba(255, 255, 255, 0.2);
}

 ::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body .dribbble {
    position: fixed;
    display: block;
    right: 24px;
    bottom: 24px;
}

body .dribbble img {
    display: block;
    width: 76px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}